bin/
bson/
certifi/
certifi-2022.6.15.1.dist-info/
charset_normalizer/
charset_normalizer-2.1.1.dist-info/
dns/
dnspython-2.2.1.dist-info
idna/
idna-3.3.dist-info/
requests/
requests-2.28.1.dist-info/
urllib3/
urllib3-1.26.12.dist-info/
nose/
nose-1.3.7.dist-info/
mongopy/
mongopy-0.1.dist-info/
man
gridfs/
pymongo
pymongo-4.2.0.dist-info/